<% provide(:title, "Projects") %>
<div class="container">
  <h1 class="title">
    Team <%= @teams[2] %> Projects
  </h1>

  <!-- creating and populating members array -->
  <% @student.each do |student| %>
    <%  if student.team_id === @teams.first %>
      <% @members.push(student)%>
    <% end %>
  <% end %>

  <% @members%>


  <% i = 1%>
  <% num = 6%>
  <% until i > num do %>
      <div class="box_admin">
        <h4 class="cover_admin"> <i class="project_admin">Project <%= i%></i></h4>
        <h3 class="description_admin"> Forming Groups</h3>
      <table class="table_admin">
        <tr >
          <th class="table_header_admin">Evaluator</th>
          <th class="table_header_admin">Evaluatee</th>
          <th class="table_header_admin">Evaluation</th>
          <th class="table_header_admin">Comment</th>
        </tr>
    <% @evaluations.each do |e| %>
      <% next if e.project_id != i%>
        <tr>
          <td class="table_text_admin"> <%= e.evaluator_id%></td>
          <td class="table_text_admin"> <%= e.evaluee_id%> </td>
          <td class="table_text_admin"><%= e.evaluation%> </td>
          <td class="table_text_admin"><%= e.comment%> </td>
        </tr>
    <% end %>
        </table>
      </div>

    <% i += 1 %>
  <% end %>
</div>
