<% provide(:title, "Projects") %>
<div class="container">
  <h1 class="title">
    Team <%= @teams %> Projects
  </h1>

<!-- creating and populating members array -->
<% @student.each do |student| %>
  <%  if student.team_id === @teams.first %>
    <% @members.push(student)%>
  <% end %>
<% end %>

<%= @members%>
RATINGS:
<% @ratings.each do |r| %>
   <%= r.rating%>
<% end %>

  <div class="box_admin">
    <h4 class="cover_admin"> <i class="sub_title_admin">Project 1</i></h4>
    <% @members.each do |member| %>
    <p class="text_admin"> <%= member.fname%> <%= member.lname%> </p>

    <% end %>
    
  </div>


  

</div>

</body>