<% provide(:title, "Edit user") %>
<h1>Update the student's profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="myform form"></div>
      <%= form_with(model: @student, local: true) do |f| %>
          
          <%= f.label :fid , :class => "form-control my-input", :placeholder => "id"%>
          
          <div class="form-group">
            <label>First Name</label>
             <%= f.text_field :fname, :class => "form-control my-input", :placeholder => "First Name"%>
          
          <div class="form-group">
            <label>Last Name</label>
            <%= f.text_field :lname, :class => "form-control my-input", :placeholder => "Last Name"%>
          </div>
          <div class="form-group">
            <label>Email</label>
            <%= f.email_field :email, :class => "form-control my-input", :placeholder => "Email" %>
          </div>
          <div class="form-group">
            <label>Team </label>
            <%= f.text_field :team_id, :class => "form-control my-input", :placeholder => "Team id" %>
          </div>
          <div class="form-group">
            <label>Password </label>
            <%= f.text_field :password, :class => "form-control my-input", :placeholder => "Password" %>
          </div>
  
  
  
        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>