<% provide(:title, "Project Rating") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
 
       <h1>
         <%= gravatar_for @current_student %>
         <%= @current_student.fname %> <%= @current_student.lname %>
         RATINGS
      </h1>
    </section>
  </aside>
</div>

<!-- creating and populating members array -->
<% @members = Array.new%>
<% @student.each do |student| %>
  <%  if student.team_id === current_student.team_id %>
    <% @members.push(student)%>
  <% end %>
<% end %>

<body>
  <div class="member_container">
    <h1 class="project_title">
      Team Members
    </h1>
    <!-- for each member in the current user's team -->
    <% @members.each do |member| %>
      <!-- member card -->
      <div class="member_box">
        <!-- member name -->
        <h2 class="member_name"> <%= member.fname %> <%= member.lname %></h2>
        <%= form_with(model: @evaluation, local: true) do |f| %>
          <div class="field">
            <%= f.label :Rating%>
            <%= f.text_area :evaluation, class: 'form-control', placeholder: "Enter a rating from 1 to 10" %>
          </div>
          <%= f.hidden_field :evaluator_id, value: @current_student.id %>
          <%= f.hidden_field :evaluee_id, value:  member.id %>
          <div class="field">
            <%= f.label :Project%>
            <%= f.text_area :project_id, class: 'form-control', placeholder: "Enter project number" %>
          </div>
          <div class="field">
            <%= f.label :Comments%>
            <%= f.text_area :comment, class: 'form-control', placeholder: "Enter a comment" %>
          </div>
          <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
        <% end %>
      </div>
    <% end %>
  
  </div>
  
</body>
