<% provide(:title, "Project Rating") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
 
       <h1>
         <%= gravatar_for @student %>
         <%= @student.fname %> <%= @student.lname %>
         RATINGS
      </h1>
    </section>
  </aside>
</div>


<body>

  <div class="member_container">
    <h1 class="project_title">
      Team Members for Project X
    </h1>

    <!-- first member card -->
    <div class="member_box">
      <!-- member name -->
      <h2 class="member_name"> Ajay Kirtikar</h2>
      <label class="rating_text" > Rating</label>
      <!-- rating radio form -->
      <form class="rating">
        <label class="radio-inline">
          <input type="radio" name="optradio">0
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">5
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">6
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">7
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">8
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">9
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">10
        </label>
      </form>
      <!-- comment box -->
      <textarea class="text" id="textbox" > comment</textarea>
      <!-- submit button-->
      <%= link_to "Submit", student_rating_path, class: "submitBtn" %>
    </div>


    <!-- second member card -->
    <div class="member_box">
      <!-- member name -->
      <h2 class="member_name"> Ajay Kirtikar</h2>
      <label class="rating_text" > Rating</label>
      <!-- rating radio form -->
      <form class="rating">
        <label class="radio-inline">
          <input type="radio" name="optradio">0
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">5
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">6
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">7
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">8
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">9
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">10
        </label>
      </form>
      <!-- comment box -->
      <textarea class="text" id="textbox" > comment</textarea>
      <!-- submit button-->
      <%= link_to "Submit", student_rating_path, class: "submitBtn" %>
    </div>

    <!-- 3rd member card -->
    <div class="member_box">
      <!-- member name -->
      <h2 class="member_name"> Ajay Kirtikar</h2>
      <label class="rating_text" > Rating</label>
      <!-- rating radio form -->
      <form class="rating">
        <label class="radio-inline">
          <input type="radio" name="optradio">0
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">4
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">5
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">6
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">7
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">8
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">9
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">10
        </label>
      </form>
      <!-- comment box -->
      <textarea class="text" id="textbox" > comment</textarea>
      <!-- submit button-->
      <%= link_to "Submit", student_rating_path, class: "submitBtn" %>
    </div>
    
    



    


    
  
  </div>
  
</body>
