<% provide(:title, "Student Home") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
 
       <h1>
         <%= gravatar_for @student %>
         <%= @student.fname %> <%= @student.lname %>
      </h1>
    </section>
  </aside>
</div>

<body>

<div class="container">
  <h1 class="title">
    Team Projects
  </h1>
  
  <div class="box">
    <h4 class="cover"> <i class="sub_title">Project 1</i></h4>
    <h3 class="text"> Forming Groups</h3>
    <%= link_to "View Ratings", student_rating_path, class: "button" %>
  </div>
  <div class="box">
    <h4 class="cover"> <i class="sub_title">Project 2</i></h4>
    <h3 class="text"> The Game of Set</h3>
    <%= link_to "View Ratings", student_rating_path, class: "button" %>
  </div>
  <div class="box">
    <h4 class="cover"> <i class="sub_title">Project 3</i></h4>
    <h3 class="text"> Web Scraping</h3>
    <%= link_to "View Ratings", student_rating_path, class: "button" %>
  </div>
  <div class="box">
    <h4 class="cover"> <i class="sub_title">Project 4</i></h4>
    <h3 class="text"> Faculty Page Redesign</h3>
    <%= link_to "View Ratings", student_rating_path, class: "button" %>
  </div>
  <div class="box">
    <h4 class="cover"> <i class="sub_title">Project 5</i></h4>
    <h3 class="text"> The Game of Set Reloaded</h3>
    <%= link_to "View Ratings", student_rating_path, class: "button" %>
  </div>
  <div class="box">
    <h4 class="cover"> <i class="sub_title">Project 6</i></h4>
    <h3 class="text"> Final Project</h3>
    <%= link_to "View Ratings", student_rating_path, class: "button" %>
  </div>

</div>

</body>