<% provide(:title, "Team Overview") %>
<h1>Team Overview</h1>
<p>
Displays all current students for an admin to make changes to
</p>
<%= link_to "Back", '/admin_home'%>
<table>
  

<tr>
  <th>Buck ID</td>
  <th>First Name</td>
  <th>Last Name</td>
  <th>Team id</td>
  
</tr>



<% @student.each do |student| %>
  <tr>
    <td><%= student.buck_id %></td>
    <td><%= student.fname %></td>
    <td><%= student.lname %></td>
    <td><%= student.team_id %></td>
    <td><%= link_to "Edit", edit_student_path(student) %></td>
  </tr>

<% end %>
</table>

<!-- <button to save goes here></button> -->
