<% provide(:title, "Student Sign Up") %>
<h1>Student Sign Up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for :students do |f| %>
    <label>Buck Id</label>
    <%= f.text_field :buck_id %>
    
    <label>First Name</label>
    <%= f.text_field :fname %>
    
    <label>Last Name</label>
    <%= f.text_field :lname %>
    
  
    <label>Email</label>
    <%= f.text_field :email %>
  
    <label>Team Id</label>
    <%= f.text_field :team_id %>
  <% end %>
  </div>
</div>